!([0-9a-f]) text whitespace=trailing-space,tab-in-indent,cr-at-eol,tabwidth=4 eol=lf
.gitmodules text whitespace=indent-with-non-tab,tabwidth=2
Makefile text whitespace=indent-with-non-tab,tabwidth=2
*.rst tex conflict-marker-size=100
*([0-9a-f]) binary
