[submodule "submodules/openlayers"]
	path = submodules/openlayers
	url = https://github.com/openlayers/openlayers.git
[submodule "submodules/bottle"]
	path = submodules/bottle
	url = https://github.com/defnull/bottle.git
[submodule "submodules/boto"]
	path = submodules/boto
	url = https://github.com/boto/boto.git
[submodule "submodules/WebViewer"]
	path = submodules/WebViewer
	url = https://github.com/OpenWebGlobe/WebViewer.git
