services:
  redis:
    image: redis:8.4.0

  test:
    build: .
    environment:
      REDIS_URL: redis://redis:6379
    volumes:
      - ./:/app/
    command:
      - make
      - prospector
      - tests
