azure-storage-blob==12.13.1
boto3==1.17.112
bottle==0.12.23
c2cwsgiutils[broadcast]>=4.0.1
Pillow==9.3.0
pyproj==3.0.1
pyramid==2.0
certifi>=2022.12.7 # not directly required, pinned by Snyk to avoid a vulnerability
