azure-storage-blob==12.13.1
azure-identity==1.7.1
boto3==1.20.54
bottle==0.12.25
c2cwsgiutils[broadcast]>=4.0.1
Pillow==9.4.0
pyproj==3.3.1
pyramid==2.0.2
oauthlib>=3.2.1 # not directly required, pinned by Snyk to avoid a vulnerability
pyjwt>=2.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
certifi>=2022.12.7 # not directly required, pinned by Snyk to avoid a vulnerability
cryptography>=39.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3==1.26.16 # version 2.x didn't work with current botocore version
