poetry==1.3.2
poetry-plugin-export==1.2.0
poetry-plugin-tweak-dependencies-version==1.2.1
poetry-dynamic-versioning==0.21.5
pip==23.3.2
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=1.26.18 # not directly required, pinned by Snyk to avoid a vulnerability
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
jinja2>=3.1.3 # not directly required, pinned by Snyk to avoid a vulnerability
