c2cciutils==1.7.3
pre-commit==4.1.0
poetry-dynamic-versioning==1.7.1
poetry-plugin-export==1.9.0
poetry-plugin-tweak-dependencies-version==1.5.2
poetry-plugin-drop-python-upper-constraint==0.1.0
tag-publish==1.0.1
