c2cciutils[checks,publish]==1.6.21
pre-commit==3.7.1
poetry-dynamic-versioning==1.4.0
poetry-plugin-export==1.8.0
poetry-plugin-tweak-dependencies-version==1.5.2
poetry-plugin-drop-python-upper-constraint==0.1.0
importlib-metadata<8.0.0
certifi>=2024.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
cryptography>=42.0.8 # not directly required, pinned by Snyk to avoid a vulnerability
idna>=3.7 # not directly required, pinned by Snyk to avoid a vulnerability
jinja2>=3.1.4 # not directly required, pinned by Snyk to avoid a vulnerability
